Callboard/Callboard.App.Data/Connected Services/CommercialService/Callboard.Service.Commercial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Callboard.Service.Commercial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Callboard.Service.Commercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommercial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commercial" nillable="true" type="tns:Commercial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommercial" nillable="true" type="tns:ArrayOfCommercial" />
  <xs:complexType name="Commercial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commercial" nillable="true" type="tns:Commercial" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="CommercialNotFound">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommercialNotFound" nillable="true" type="tns:CommercialNotFound" />
</xs:schema>